<app-nav-bar></app-nav-bar>
<div class="panel panel-primary panel-tab">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">First Name</label>
        <input type="text" class="form-control" formControlName="firstName" #firstName [(ngModel)] = "customer.firstName"/>
      </div>
      <div *ngIf="angForm.controls['firstName'].invalid && (angForm.controls['firstName'].dirty || angForm.controls['firstName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['firstName'].errors.required">
          First Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" #lastName [(ngModel)] = "customer.lastName" />
      </div>
      <div *ngIf="angForm.controls['lastName'].invalid && (angForm.controls['lastName'].dirty || angForm.controls['lastName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['lastName'].errors.required">
          Last Name is required.
        </div>
      </div>
      <div class="form-group">
          <label class="col-md-4">Email</label>
          <input
             [ngClass]="{'has-danger': angForm.controls.email.invalid && angForm.controls.email.dirty}"
             type="text" class="form-control" formControlName="email" #email [(ngModel)] = "customer.email"/>
        </div>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)">
          <div *ngIf="angForm.controls['email'].errors.required" class="alert alert-danger">
            Email is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Telephone</label>
          <input 
          [ngClass]="{'has-danger': angForm.controls.telephone.invalid && angForm.controls.telephone.dirty}"
          type="text" class="form-control" formControlName="telephone" #telephone [(ngModel)] = "customer.telephone"/>
        </div>
        <div *ngIf="angForm.controls['telephone'].invalid && (angForm.controls['telephone'].dirty || angForm.controls['telephone'].touched)">
          <div *ngIf="angForm.controls['telephone'].errors.required" class="alert alert-danger">
           Telephone is required.
          </div>
        </div>
        <div class="form-group">
          <button (click)="updateCustomer(firstName.value, lastName.value, email.value, telephone.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary btn-Update">Update</button>
        </div>
    </form>
  </div>
</div>