<form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="inputGroup inputGroup1">
      <label for="username">Username</label>
      <input type="text" id="user" name="user" [(ngModel)]="user" class="user" maxlength="256" required/>
    </div>
    <div class="inputGroup inputGroup2">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" class="password" required/>
    </div>
    <div class="inputGroup inputGroup3">
      <button id="login" type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Log in</button>
    </div>
  </form>
  <div class='error' *ngIf="bLogin">
      Wrong username or password!
  </div>