body {
    background-color: #eff3f4;
}

.panel-tab {
    margin-top: 80px;
}

.has-danger {
    border: 1px solid red;
    border-radius: 4px;
}

.btn-Add {
    background-color: #3877fd;
    border-color: #3877fd;
}