<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Customer First Name</label>
        <input type="text" class="form-control" formControlName="firstName" #firstName />
      </div>
      <div *ngIf="angForm.controls['firstName'].invalid && (angForm.controls['firstName'].dirty || angForm.controls['firstName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['firstName'].errors.required">
          First Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Customer Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" #lastName/>
      </div>
      <div *ngIf="angForm.controls['lastName'].invalid && (angForm.controls['lastName'].dirty || angForm.controls['lastName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['lastName'].errors.required">
          Last Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Customer Email</label>
        <input type="text" class="form-control" formControlName="email" #email/>
      </div>
      <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['email'].errors.required">
          Email is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Customer Telephone</label>
        <input type="text" class="form-control" formControlName="telephone" #telephone/>
      </div>
      <div *ngIf="angForm.controls['telephone'].invalid && (angForm.controls['telephone'].dirty || angForm.controls['telephone'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['telephone'].errors.required">
         Telephone is required.
        </div>
      </div>
        <div class="form-group">
          <button (click)="addCustomer(firstName.value, lastName.value, email.value, telephone.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
        </div>
    </form>
  </div>
</div>