body {
    background-color: #eff3f4;
}

.panel-tab {
    margin-top: 80px;
}

.table-customer {
    border: 1px solid #D3D3D3;
}

.th {
    background-color: #fde0ff;
    font-weight: 500;
}

.btn-Edit {
    background-color: #3877fd;
    border-color: #3877fd;
    min-width: 72px;
}

.btn-Delete {
    background-color: #fd8738;
    border-color: #fd8738;
    min-width: 72px;
}